<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.capability.entities.MapEntity"></mapping>
		<mapping class="com.capability.entities.SectorEntity"></mapping>
		<mapping class="com.capability.entities.ClusterEntity"></mapping>
		<mapping class="com.capability.entities.CapabilityEntity"></mapping>
		<mapping class="com.capability.entities.PasswordEntity"></mapping>
		<mapping class="com.capability.entities.StrategicChoiceEntity"></mapping>
		<mapping class="com.capability.entities.OverlayXrefEntity"></mapping>
		<mapping class="com.capability.entities.MaturityDescEntity"></mapping>
		<mapping class="com.capability.entities.DimensionSpecific"></mapping> 
		<mapping class="com.capability.entities.DimensionXref"></mapping> 
		 <mapping class="com.capability.entities.Element" />
	</session-factory>
</hibernate-configuration>